@import "bootstrap-sprockets";
@import "bootstrap";

.no-padding{
	padding-left: 0px;
	padding-right:0px;
}


body{
	background-image: url("https://images.trvl-media.com/media/content/expus/graphics/launch/activity1320x742.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x: hidden;
}


#home-icon{
	position: relative;
	padding-left:85%;
	padding-top:10%;
	
	
}
.form-horizontal{
   border-top: 1px solid lightgrey;
   padding-left: 5%;
   padding-bottom: 5%;
   background-color: rgb(81,80,80);
   opacity: 0.7;
}

.form-horizontal h1, label{
	color: white;
}

.form-horizontal h1{
	text-align: center;
	padding: 5%;
}

.booking-info{
	background: white;
	border: 2px solid grey;
	width: 40%;
	
	margin-top: 6%;
	margin-left: 5%;
	margin-bottom: 5%;

	border-radius: 25px;
	padding: 2%;
}

table{
	background-color: white;
	opacity: 1;
}

.passenger-info{
	padding-left: 5%;
	padding-top: 2%;
	label{
	  color: black;
	}
}



span.glyphicon.glyphicon-home{
	color: white;
}